@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap');
.background-hero{
    font-family: 'Shadows Into Light Two', cursive;    width: 100vw;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;
    background-size: cover;
    --overlay: #000a;
    color: #F3EFE0;
    letter-spacing: .1em;
}
.img-hero{
  display: block;
  width: 100%;
  height: 100%;
  object-fit:contain;
 
}
.img-hero2{
  display: block;
  width: 100%;
  height: 100%;
  object-fit:contain ;
}
.img-hero3{
  display: block;
  width: 100vw;
  height: 100%;
  object-fit: contain ;
}
.img-hero4{
  display: block;
  width: 100vw;
  height: 100%;
  object-fit: contain ;
}
.img-hero5{
  display: block;
  width: 100vw;
  height: 100%;
  object-fit: contain ;
}
.item {
  display: block;
  width: 100%;
  height: 60vh;
}
